<!-- Load JS here for greater good -->
<script src="/js/vendor/jquery-1.10.2.min.js"></script>
<script src="/js/foundation.min.js"></script>
<script src="/js/vendor/jquery.count.js"></script>
<script src="/js/vendor/jquery.appear.min.js"></script>

<!--
You need to include this script on any page that has a Google Map.
When using Google Maps on your own site you "MUST" signup for your own API key () at:
https://developers.google.com/maps/documentation/javascript/tutorial#api_key

After your sign up replace the key in the URL below or paste in the new script tag that Google provides.
-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4RZut_lOyk2jVPAOQXKi8D0zCE5BYWlk&amp;sensor=false"></script>
<script src="/js/vendor/jquery.maps.js"></script>
<script src="/js/apps.js"></script>
