@mixin home-copy {
  text-align: justify;
  text-indent: 2%;
}

.benefits-section {
  background: #ffdb77;
  text-align: center;
  padding: 80px 0; }

  .benefits-section h2 {
    color: #34495e; }
  .benefits-section .line {
    background: #34495e;
    margin-bottom: 40px; }
  .benefits-section .lead {
    @include home-copy;
    margin-bottom: 35px; }
  .benefits-section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100px;
    height: auto; }
  .benefits-section .col-counter {
    margin-bottom: 20px; }
    .benefits-section .col-counter .counter {
      font-size: 35px;
      color: #34495e; }
    .benefits-section .col-counter label {
      font-size: 16px;
      font-weight: bold;
      color: #34495e; }

.about-section {
  .lead {
    @include home-copy;
  }
}

.features-section {
  .lead {
    @include home-copy;
  }

  .services {
    margin-top: 40px;

    .col-services {
      h4 {
        font-weight: bold;
      }

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        width: 100px;
        height: auto;
      }
    }
  }
}

.work-section {
  background: #ebecee;

  .col-work {

    a {
      max-width: inherit;
    }

  }
}

.error-section {
  text-align: center;
  padding: 120px 0 500px;
}

#contact-thanks {
  padding: 120px 0 500px;

  .lead {
    text-align: center;
  }
}

.contact-form {
  .name-field {
    input[type=text] {
      width: 49%;
      padding-right: 5px;
      display: inline-block;
    }
  }
}

.reveal-modal {
  p.portfolio-desc {
    text-align: justified;
  }

  p {
    a {
      color: #00b6ad;
    }
  }

  .img-reveal-modal {
    width: inherit;
  }
}

/* Max-width 40.000em = 640px */
@media only screen and (max-width: 40em) {
  .benefits-section {
    padding-bottom: 50px; }
  .benefits-section .col-counter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 50px; } }

/* Max-width 35.500em = 568px */
@media only screen and (max-width: 35.5em) {
  .benefits-section .col-counter {
    width: 100%; } }